<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <p>This site was created by Siddhartha Jain. </p>
        <p>It uses data from <a class="link" href="https://www.mapbox.com/">mapbox.com</a> and <a class="link" href="https://darksky.net/forecast/40.7127,-74.0059/us12/en">darsky.com</a></p>

        <img class="portrait" src="/img/robot.png">
    
    </div>

    {{>footer}}
</body>
</html>